*body {
    background-color: white;
    border-radius: 12px solid gold;
}

.todo {
    padding: 50rem 10%;
    align-items: center;
    display: flex;
    flex-direction: column;

    
}

.item1 {
    border-radius: 12px solid black;
}