*body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
.navigation {
    background-color: aqua;
    display: flex;

}
.todo {
    padding: 50rem 10%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: aqua;


    
}

.todo .item1 {
    border-radius: 20px ;
    height: 50%;
    width: 50%;
    border: 1px solid black;
}