*body {
    background-color: darkgreen;
    
    
}

.todo {
    padding: 50rem 10%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 1px solid black;
    border-radius: 10px;

    
}

.item1 {
    border-radius: 12px solid black;
}